[tool.black]
line-length = 79
target-version = ["py36", "py37"]
extend-exclude = '''
/(
    \.git
  | \.venv
  | env
  | venv
)/
'''

[tool.isort]
profile = "black"
line_length = 79
multi_line_output = 3
skip = ["env", ".venv", "venv"]
