[tool.black]
line-length = 80
target-version = ['py311']
include = '\.pyi?$'
# AQUI ESTÁ A SEGURANÇA: Regex para ignorar pastas críticas
extend-exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | env
  | _build
  | buck-out
  | build
  | dist
  | __pycache__
)/
'''

[tool.isort]
profile = "black"
line_length = 80
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
# AQUI ESTÁ A SEGURANÇA: Lista de pastas para pular
skip = [".gitignore", ".dockerignore", ".venv", "venv", "env", ".git", "__pycache__"]
skip_glob = ["*/migrations/*"]
